/* FONT IMPORT */
@import url("https://fonts.googleapis.com/css2?family=Mansalva&display=swap");

/* BACKGROUND IMAGE */
body {
  background-image: url("../img/tile.jpg");
}

/* HEADING */
h1 {
  font-family: "Mansalva", cursive;
  color: rgb(0, 0, 0);
  font-size: 80px;
  margin-top: 20px;
  margin-bottom: 40px;
}

/* FORM */
form {
  background-image: url("../img/formbg.jpg");
  width: 50%;
  margin: auto;
  padding: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 10px 0 -5px #eee,
    0 10px 1px -4px rgba(0, 0, 0, 0.15), 0 20px 0 -10px #eee,
    0 20px 1px -9px rgba(0, 0, 0, 0.15);
}

/* INPUTS */
.center {
  margin: auto;
}

input[type="date"],
input[type="time"],
#taskInfo {
  background: transparent !important;
}

.textArea {
  margin-top: 6px;
}

.dateSelect {
  margin-top: 18px;
}

.timeSelect {
  margin-top: 15px;
}

label {
  background-color: rgba(255, 255, 255, 0.7);
  margin: 5px 0;
}

/*MAKE DATE INPUT CLICKABLE EVERYWHERE*/
input#taskDate[type="date"] {
  position: relative;
}

input#taskDate[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  color: transparent;
  background: transparent;
  cursor: pointer;
}

/*MAKE TIME INPUT CLICKABLE EVERYWHERE*/
input#taskTime[type="time"] {
  position: relative;
}

input#taskTime[type="time"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  color: transparent;
  background: transparent;
  cursor: pointer;
}

/* NEW TASK DIV */
#note {
  margin-top: 20px;
  margin-left: 40px;
}

#newTask {
  border: none;
}

/* TASK BACKGROUND */
.card-img {
  width: 220px;
  height: 300px;
}

/* TASK TEXT */
.mainTask {
  width: 90%;
  height: 60%;
  overflow: scroll;
  margin-top: 10px;
}

.card-task {
  margin-top: 10px;
  font-weight: bold;
  font-size: large;
  margin-right: 5px;
}

/* TASK ANIMATION */
.fade-in:last-child {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* TASK DATE */
.bottom {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
}
/* REMOVE ICON */
#newTask:hover .glyphicon {
  opacity: 1;
}

.glyphicon {
  opacity: 0;
  position: sticky;
  width: 180px;
  margin-top: 10px;
  cursor: pointer;
}
